.vscode
.idea
.env
.git
.gitignore
.dockerignore

/Dockerfiler
/README.md
/node_modules


venv
__pycache__
*.pyc
.env
.git
.gitignore
.vscode
.idea
README.md
env
node_modules
.venv
dist



# pip freeze > requirements.txt